body{
  background-image: url(img/background.jpg);
  background-size: 100%;
  color: white;
}

.conteiner{
  background-color: rgba(0,0,0,0.5);
  display: block;
  width: 65%;
  margin: auto;
  margin-bottom: 8%;
  margin-top: 2%;
  box-sizing: border-box;
  padding: 5%;
  border-radius: 10px;
}

 div > h2{
   display: inline-block;
   color: white;
   margin-bottom: 5px;
 }

header div{
  text-align: center;
  color: rgb(8,220,4);
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
}

nav{
  background-color: rgb(8,220,4);
  text-align: center;
  padding: 5px;
}

section{
  margin: 30px 0px;
  line-height: 150%;
}

#carica1{
  background-color: orange;
  width: 50%;
  height: 25px;
  border-radius: 5px;
}

#carica2{
  background-color: green;
  width: 65%;
  height: 25px;
  border-radius: 5px;
}

#carica3{
  background-color: red;
  width: 25%;
  height: 25px;
  border-radius: 5px;
}

.logo{
  max-width: 30%;
  display: block;
  margin: auto;
}